header{
    background-image: url('header-image.jpg');
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.title{
    color: black;
  font-size:72px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(211, 211, 139),
    0 0 0.2em rgb(211, 211, 139);
  color: white;
  
  font-style: italic;
}

.title p{
    display: flex;
    justify-self: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

  .nav ul{
    margin: 0px;
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
  }
  .nav ul li a{
    text-decoration: none;
    color: black;
  }
  .nav ul li a:hover{
    color: blue;
    transition: all 0.3s;
  }
  .nav-list{
    margin: 50px;
  }
.divbody1{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
}

.divbody2{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.divbody12{
    display: flex;
}

body {
    font-family: Helvetica, sans-serif
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbody{
    width: 50rem;
    margin: 5rem auto;
}

.footerlinks{
    display: flex;
    justify-content: space-around;
    width: 20rem;
}

.footer a{
    text-decoration: none;
    color: inherit;
}
