header{
    background-image: url('header-image.jpg');
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.title{
    color: aliceblue;
  font-size:72px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.title p{
    display: flex;
    justify-self: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

  .nav ul{
    margin: 0px;
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;
  }
  .nav ul li a{
    text-decoration: none;
    color: black;
  }
  .nav ul li a:hover{
    color: blue;
    transition: all 0.3s;
  }
  .nav-list{
    margin: 50px;
  }

h1{
    display: flex;
    margin: 100px 0px 0px 0px;
}

h3{
    margin: 30px 0px 0px 0px;
}

.divbody1{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 250px 0px 30px;
    width: 100vh;
    flex-direction: column;
}

#syrischeküchebody{
    border-radius: 5px;
    width: 90%;
    height: auto;
}

.bodybutton{
    background-color: darkkhaki;
    border: none;
    color: black;
    margin: 30px 0px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.divbody2{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 10px 10px 0px;
    border-radius: 5px;
}

.divbody12{
    display: flex;
    border-radius: 5px;
}

body {
    font-family: Helvetica, sans-serif
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbody{
    width: 50rem;
    margin: 5rem auto;
}

.footerlinks{
    display: flex;
    justify-content: space-around;
    width: 20rem;
}

.footer a{
    text-decoration: none;
    color: inherit;
}
